.btnnn {
  display: inline-block;
  padding: 12px 18px;
  border: 0;
  text-decoration: none;
  border-radius: 15px;
  background-color: rgba(67, 67, 67, 0.1);
  /* background-color: red; */
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
  width: 150px;
  color: #1d1d1d;
  font-weight: 500;
}

@media only screen and (max-width: 767px) {
  .btnnn {
    display: inline-block;
    padding: 10px 3px;
    border: 0;
    text-decoration: none;
    border-radius: 10px;
    background-color: rgba(67, 67, 67, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
    width: 150px;
    color: #1d1d1d;
    font-weight: 500;
  }
}
